include README.rst
include LICENSE
include tests/**

# Headers. For some reason, setuptools doesn't support this.
include heatshrink/_heatshrink/LICENSE
include heatshrink/_heatshrink/heatshrink_common.h
include heatshrink/_heatshrink/heatshrink_config.h
include heatshrink/_heatshrink/heatshrink_encoder.h
include heatshrink/_heatshrink/heatshrink_decoder.h
