include LICENSE
include requirements.txt
include tests.py
include heatshrink/*

# Headers. For some reason, setuptools doesn't support this.
include heatshrink_impl/heatshrink_common.h
include heatshrink_impl/heatshrink_config.h
include heatshrink_impl/heatshrink_encoder.h
include heatshrink_impl/heatshrink_decoder.h
