include LICENSE
include requirements.txt
include tests.py
include src/*

# Headers. For some reason, setuptools doesn't support this.
include heatshrink/heatshrink_common.h
include heatshrink/heatshrink_config.h
include heatshrink/heatshrink_encoder.h
include heatshrink/heatshrink_decoder.h
